<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Results</title>
</head>
<body>
<table>
    <tr>
        <th>Name</th>
        <th>Activity</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.name}"></td>
        <td>
            <table>
                <tr th:each="activity : ${user.activities}">
                    <td th:text="${activity.activityName}"></td>
                    <td th:text="${activity.totalPointCount}"></td>
                </tr>
            </table>
            <a th:href="@{/users/{userId}(userId=${user.id})}">View Full Details</a>
        </td>
    </tr>
</table>
</body>
</html>